<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<strong>ホテル検索</strong>

	<form th:action="@{/hotelSearch/searchByLessThanPrice}" method="post"
		th:object="${hotelSearchForm}">
		<br>
		<input type="text" name="price" th:field="*{price}"> 円以下<br>
		<br>
		<button>検索</button>
	</form><br>

	<table th:each="hotel : ${hotelSearchList}" border="1" style="margin-bottom: 10px;">
		<tr>
			<td>ホテル名</td>
			<td th:text="${hotel.hotelName}"></td>
		</tr>
		<tr>
			<td>最寄り駅</td>
			<td th:text="${hotel.nearestStation}"></td>
		</tr>
		<tr>
			<td>価格</td>
			<td th:text="${#numbers.formatInteger(hotel.price, 1, 'COMMA')}"></td>
		</tr>
	</table>

</body>
</html>